@font-face {
  font-family: "Phosphor";
  src: url("../fonts/Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-arrow-bend-up-left:before {
  content: "\e92e";}
.ph.ph-arrow-down:before {
  content: "\e93a";}
.ph.ph-arrow-right:before {
  content: "\e95c";}
.ph.ph-arrow-up:before {
  content: "\e97d";}
.ph.ph-arrow-up-right:before {
  content: "\e97f";}
.ph.ph-check:before {
  content: "\ea30";}
.ph.ph-circle-half:before {
  content: "\ea39";}
.ph.ph-clock:before {
  content: "\ea42";}
.ph.ph-clock-counter-clockwise:before {
  content: "\ea46";}
.ph.ph-copy:before {
  content: "\ea6b";}
.ph.ph-eye:before {
  content: "\ead2";}
.ph.ph-list:before {
  content: "\ebca";}
.ph.ph-list-bullets:before {
  content: "\ebcb";}
.ph.ph-magnifying-glass:before {
  content: "\ebdd";}
.ph.ph-moon:before {
  content: "\ebfe";}
.ph.ph-paper-plane-tilt:before {
  content: "\ec48";}
.ph.ph-pause:before {
  content: "\ec50";}
.ph.ph-play:before {
  content: "\ec7e";}
.ph.ph-rss:before {
  content: "\ecb8";}
.ph.ph-sun:before {
  content: "\ed3e";}
.ph.ph-tag:before {
  content: "\ed4a";}
.ph.ph-x:before {
  content: "\eddb";}
